.config { }

.dataTitle { text-align: center;  font-weight: bold;  font-size: 12pt; }

table.data { font-size: 8pt; background-color: white; border: 1px solid black; padding: 2px; }
th.data    { font-size: 8pt; background-color: white; border: 1px solid black; }
.dataOdd   { font-size: 8pt; background-color: #dedede; }
.dataEven  { font-size: 8pt; }

.reportSelectTitle    { text-align: center;  font-weight: bold;  font-size: 12pt; }
.reportSelectSubTitle { text-align: left;  font-weight: bold;  font-size: 10pt; }
.reportSelectItem     { text-align: left;  font-size: 8pt; }
